pkgbase = mingw-w64-qt5-gamepad-static
	pkgdesc = Adds support for getting events from gamepad devices (mingw-w64)
	pkgver = 5.15.14
	pkgrel = 1
	url = https://www.qt.io/
	arch = any
	groups = mingw-w64-qt5
	license = GPL3
	license = LGPL
	license = FDL
	license = custom
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-pkg-config
	makedepends = mingw-w64-qt5-declarative-static
	makedepends = git
	depends = mingw-w64-qt5-base-static
	depends = mingw-w64-sdl2
	depends = mingw-w64-qt5-gamepad
	optdepends = mingw-w64-qt5-declarative-static: QML bindings
	options = !strip
	options = !buildflags
	options = staticlibs
	source = git+https://invent.kde.org/qt/qt/qtgamepad#commit=b1c2f272f69e222a532485e6f820776c220b3535
	sha256sums = 87abfd163b30583e2e50d5df7a3716b5684838ced32ffbdd82e0fc730c3354bf

pkgname = mingw-w64-qt5-gamepad-static
